demo/
data/
models/
notebooks/
projects/
prepare/
activetigger/log
log
Réflexions.md
.ipynb_checkpoints/
.s3cfg
activetigger/.ipynb_checkpoints/
dist/
tests/__pycache__/
activetigger/img/active_tigger2.png
*.DS_Store
log_server.log
config.yaml
add_users_processed.yaml
activetigger/frontend_deprecated.py
api/activetigger/__pycache__/
api/tests/__pycache__/
api/activetigger/html/custom.css
frontend/public/favicon_old.ico
frontend/src/assets/at_old.png
api/mlruns
site/
**/*.sql
.vscode
api/activetigger/db/__pycache__/
api/key.yaml
.secret_key
**/.secret_key
api/activetigger/generation/__pycache__/
api/activetigger/tasks/__pycache__/
**/__pycache__/
api/activetigger/.dmypy.json
api/embeddings.yaml
api/.coverage
api/test-data
embeddings.yaml
QUALITY_REPORT.md
SECURITY_REPORT.md
api/users_parameters.yaml
api/generative.yaml

# DOCKER
docker/api/projects/
docker/api/venv/
docker/api/models/
docker/api/postgresql/

docker/api/users_parameters.yaml

api/.coverage
api/.env
api/.mypy_cache
api/.pytest_cache
api/.ruff_cache
api/.venv
api/htmlcov
api/test-data


## CLAUDE
CLAUDE.md
docs/
.claude/

frontend/src/assets/at-tuna.png
frontend/src/assets/at-old.png

## TESTS

.schemathesis